 .testimonials{
    font-family: "montserrat",sans-serif;
    padding: 40px 0;
    /* background: #f1f1f1; */
    color: #434343;
    text-align: center;
    margin-top: 100px;
  }
  .testimonial a{
    font-size: 15px;
    /* margin-top: 20px; */
  }
  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border{
    width: 190px;
    height: 3px;
    background:rgb(238, 86, 15);;
    margin: 26px auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    background: #fff;
    padding: 30px;
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .t_logo{
    color:rgb(238, 86, 15);
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  
  @media screen and (max-width:960px) {
  .col{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }
  }
  